#contactlist
{
   text-align: center; 
}
.details
{
    margin-left: 20%;
    
}
#text
{
    padding: 1%;
    width: 80%;
    border-radius: 5%;
    
}
#button
{
    padding: 1%;
    width: 8%;
    background-color: blue;
    color: white;
    margin-left: 5%;
}
#h1
{
    background-color: aqua;
    box-sizing: border-box 1px solid black;
}
#spa
{
    margin-left: 20%;
}
#spe
{
    margin-left: 10%;
}